</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; CmsShoppingCart</p>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

